<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F989E9A1E0B911600B4E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F989EB31E0B911700B4E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F989EBE1E0B911700B4E76A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
